!!!
%head
  %link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css')
  / @stylesheet index

  %meta(name="viewport" content="width=device-width, initial-scale=1")

  %title Jakub Malinowski
  %meta(charset="utf-8")
  %meta(name="author" content="Jakub Malinowski")
  %meta(name="description" content="Jakub Malinowski - Web developer & entrepreneur")

%body
  %h1.name Jakub Malinowski
  %h2.title Web Developer / Entrepreneur

  %a.contact.email(href="mailto:jakub@malinowski.me") jakub@malinowski.me
  .contact.phone +48-793-014-729
  .contact.phone 510-861-0460

  .interests Now:

  %h3.interest Building a movie equipment knowledge engine (not yet public)
  %h3.interest
    Co-organizer at
    %a(href="http://www.meetup.com/KrakowJS/") Javascript developers meeting
    in Cracow, Poland
  %h3.interest Freelancer (Ruby on Rails, Angular.js)

  %p.interests Past:
  %h3.interest
    Rails developer at
    %a(href="http://nukomeet.com/") Nukomeet

  %h3.interest
    Front-end / SmartTV developer at
    %a(href="http://4vod.tv/") 4vod.tv

  %h3.interest
    Co-organiser at
    %a(href="http://www.ted.com/tedx/events/3348") TEDxYouth@Krakow
